@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html{
  background-color: black;
}
.root{
  background-color: black;
}
.App {
  text-align: center;
}

h1{
  font-family: 'Archivo Black', sans-serif;
  color:aliceblue;
}

h2{
  font-family: initial;
  color:aliceblue;
}
.messenger_logo{
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.app__form{
  padding: 10px;
position: fixed;
bottom: 4px;
width: 78%;
background-color: #e9e9eb;
z-index: 1;
opacity: .2;
border-radius: 9px;
background-color: #fff;
margin: 20px 20px 2px 20px;
 
}

.app__formcontrol{
  display: flex !important;
  flex-direction: row !important;
}

.app__input{
  flex: 1;
}
/* .app__IconButton{

} */


